<div id="container">
    <body>
        <h1>My GeoCities Site</h1>

        <p>
            I am working on creating something fun within the limitations of
            GeoCities, hopefully I can pull it off
        </p>

        <p>
            This site will update sporadically as I make changes, so keep
            checking back and see how it's going!
        </p>
    </body>
</div>
